/* DESKTOP*/
@media screen and (min-width:1025px) {

    /* header */
    .container{
        width: 70%;
    }

    #hamburger{
        display: none;
    }

    header nav{
        display: block;
    }



    /* main */
    /* sezione caratteristiche */
    #caratteristiche .container{
        display: flex;
        width: 60%;
    }

    #caratteristiche .container div{
        width: 50%;
    }

    #caratteristiche .container .card{
        /* debgu */
        height: 200px;
        align-self: flex-end;
        margin-right: 0;
    }


    /* sezione benefici */
    #benefits .card{
        width: calc(100% / 3 - 40px)
    }



    /* sezione start */
    #start .container{
        width: 40%;
    }



     /* footer */
     footer .container{
        width: 40%;
    }
}