*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: "PT Sans", sans-serif;
}



/* HEADER */
header{
    background-color: hsl(208.7deg 100% 49.61%);
    height: 80px;
    margin-bottom: 60px;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* debug */
    background-color: aquamarine;
}

#logo{
    /* debug */
    background-color: white;
    width: 80px;
    height: 60px;
    border: 2px solid black;
}

#hamburger{
    /* debug */
    background-color: white;
    width: 80px;
    height: 60px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: none;
    /* debug */
    background-color: blue;
    width: 200px;
    height: 60px;
}


/* MAIN */
/* sezione funzioni */
.col-33{
    background-color: rgb(181 221 255);
    margin-bottom: 30px;
    border-radius: 20px;
    /* debug */
    height: 200px;
    border: 2px solid blue;
}


/* sezione caratteristiche */
#caratteristiche{
    background-color: rgb(151 146 228);
    margin: 80px 0;
    padding: 40px 0;
}

#caratteristiche .container div{
    /* debug */
    height: 300px;
    border: 2px solid black;
}

.card{
    background-color: white;
    border-radius: 40px;
    margin: 60px 20px 0 20px;
}


/* sezione testimonials */
#testimonials .container div{
    /* debug */
    height: 300px;
    background-color: darkcyan;
    border: 2px solid cyan;
}

#testimonials .container .card{
    background-color: rgb(151 146 228);
}


/* sezione benefici */
#benefits{
    background-color: rgb(151 146 228);
    padding: 80px 0;
    margin: 80px 0;
}

#titolo-sezione{
    width: 90%;
    margin: 0 auto;
    /* debug */
    border: 2px solid violet;
    height: 200px;
}


#benefits .container .card{
    border-radius: 20px;
    /* debug */
    height: 200px;
}


/* sezione about us */
#us .col-60{
    /* debug */
    height: 500px;
    border: 2px solid darkgreen;
}

#us .col-30{
    /* debug */
    height: 300px;
    background-color: cadetblue;
}


/* sezione start */
#start{
    margin-top: 80px;
    background-color: rgb(151 146 228);
    padding: 50px 0;
}

#start div{
    /* debug */
    height: 400px;
    background-color: palevioletred;
}




/* FOOTER */
footer{
    background-color: rgb(51 51 51);
    padding: 50px 0;
    /* debug */
    height: 300px;
}

footer .container{
    background-color: cornflowerblue;
}