*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: "PT Sans", sans-serif;
}



/* HEADER */
header{
    background-color: hsl(208.7deg 100% 49.61%);
    height: 80px;
    margin-bottom: 60px;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* debug */
    background-color: aquamarine;
}

#logo{
    /* debug */
    background-color: white;
    width: 80px;
    height: 60px;
    border: 2px solid black;
}

#hamburger{
    /* debug */
    background-color: white;
    width: 80px;
    height: 60px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: none;
    /* debug */
    background-color: blue;
    width: 200px;
    height: 60px;
}


/* MAIN */
/* sezione funzioni */
.col-33{
    background-color: rgb(181 221 255);
    margin-bottom: 30px;
    border-radius: 20px;
    /* debug */
    height: 200px;
    border: 2px solid blue;
}


/* sezione caratteristiche */
#caratteristiche{
    background-color: rgb(151 146 228);
    margin: 80px 0;
    padding: 40px 0;
}

#caratteristiche .container div{
    /* debug */
    height: 200px;
    border: 2px solid black;
}

#caratteristiche .container .card{
    background-color: white;
    border-radius: 40px;
    margin: 60px 20px 0 20px;
}

/* TABLET */
@media screen and (min-width:768px) {

    /* main */
    /* sezione funzioni */
    #funzioni .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-33{
        width: calc(100% / 3 - 20px );
    }

    #big-col{
        width: calc(((100% / 3)*2) - 11px );
    }
}



/* DESKTOP*/
@media screen and (min-width:1025px) {

    /* header */
    .container{
        width: 70%;
    }

    #hamburger{
        display: none;
    }

    header nav{
        display: block;
    }



    /* main */
    /* sezione caratteristiche */
    #caratteristiche .container{
        display: flex;
        width: 50%;
    }

    #caratteristiche .container div{
        width: 50%;
    }

    #caratteristiche .container .card{
        /* debgu */
        height: 150px;
        align-self: flex-end;
        margin-right: 0;
    }
}