/* TABLET */
@media screen and (min-width:768px) {

    /* main */
    /* sezione funzioni */
    #funzioni .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-33{
        width: calc(100% / 3 - 20px );
    }

    #big-col{
        width: calc(((100% / 3)*2) - 11px );
    }

    #pic img{
        width: 70%;
        margin: 0;
    }



    /* sezione benefici */
    #benefits .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #benefits .card{
        width: calc(50% - 40px)
    }



    /* sezione about us */
    #us .container{
        display: flex;
        gap: 40px;
    }

    #us .col-60{
        width: 60%;
    }

    #us .col-30{
        width: calc(40% - 40px);
    }



    /* sezione start */
    #start .container{
        width: 70%;
    }



    /* footer */
    footer .container{
        width: 70%;
    }
}
